node-red/flows.json
[{"id":"f9263a0dce1fe118","type":"tab","label":"Schedule change","disabled":false,"info":"","env":[]},{"id":"1c9f36201cd59588","type":"tab","label":"Daily pump runtime","disabled":false,"info":"","env":[]},{"id":"4e3336ea709808e2","type":"tab","label":"PH","disabled":false,"info":"","env":[]},{"id":"86b445a.684a7b8","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"5fc5bd06e2148b0c","type":"ui_group","name":"Default","tab":"4f792385dd827e6a","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4f792385dd827e6a","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"67195a4e66cf482d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2ceb42c9e4731f10","type":"ha-get-entities","z":"f9263a0dce1fe118","name":"Get Schedules","server":"86b445a.684a7b8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"switch.schedule*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":220,"y":420,"wires":[["1cdf95220ab42cf9"]]},{"id":"672810238db9d44d","type":"split","z":"f9263a0dce1fe118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1350,"y":280,"wires":[["c05d4c87593af06d"]]},{"id":"f18fe5373380382b","type":"function","z":"f9263a0dce1fe118","name":"Filter unknown schedules","func":"var output = []\nmsg.payload.forEach(function (value,index) {\n    if (value.state !== \"unknown\") {\n        output.push(value)\n    }\n});\n\nvar newMsg = {'payload': output};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":280,"wires":[["672810238db9d44d"]]},{"id":"0b7899709656c8e3","type":"api-call-service","z":"f9263a0dce1fe118","name":"Turn off schedule","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"{{payload.msg.entity_id}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1470,"y":420,"wires":[[]]},{"id":"f460b6748350cc75","type":"server-state-changed","z":"f9263a0dce1fe118","name":"Type of Schedule Changed","server":"86b445a.684a7b8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.type_of_sched","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":280,"wires":[["43e3edb63f5c91d0"]]},{"id":"e64d901bc0c9a23e","type":"switch","z":"f9263a0dce1fe118","name":"Check Type of Schedule","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Automatic","vt":"str"},{"t":"eq","v":"Schedule","vt":"str"},{"t":"eq","v":"Tariff","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":280,"wires":[["2ceb42c9e4731f10"],["4d0eb907b66a79a8"],["2ceb42c9e4731f10"]]},{"id":"1cdf95220ab42cf9","type":"split","z":"f9263a0dce1fe118","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":420,"wires":[["ff4feff35b9703c6"]]},{"id":"ff4feff35b9703c6","type":"switch","z":"f9263a0dce1fe118","name":"Check schedule is on","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":420,"wires":[["e9645e8982a80de2"],[]]},{"id":"c05d4c87593af06d","type":"api-call-service","z":"f9263a0dce1fe118","name":"Turn on schedule","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"{{payload.entity_id}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":280,"wires":[[]]},{"id":"4d0eb907b66a79a8","type":"ha-get-entities","z":"f9263a0dce1fe118","name":"Get Schedules","server":"86b445a.684a7b8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"switch.schedule*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":940,"y":280,"wires":[["f18fe5373380382b"]]},{"id":"e563e81837d72ee7","type":"comment","z":"f9263a0dce1fe118","name":"Automatic","info":"","x":100,"y":500,"wires":[]},{"id":"8b8ffeeaec822be1","type":"comment","z":"f9263a0dce1fe118","name":"Scheduled","info":"","x":860,"y":240,"wires":[]},{"id":"d989a68152a4af0e","type":"comment","z":"f9263a0dce1fe118","name":"Tariff","info":"","x":90,"y":460,"wires":[]},{"id":"e9645e8982a80de2","type":"function","z":"f9263a0dce1fe118","name":"Get schedule type","func":"var schedule_type = ''\n// assumes only one schedule. That might not be a good assumption\nmsg.payload.attributes.timeslots.forEach(function (value,index) {\n    if ((value.actions[0].service == \"switch.turn_on\") || (value.actions[0].service == \"switch.turn_off\")) {\n        schedule_type = 'pump'\n        return\n    }\n    if (value.actions[0].service == \"input_number.set_value\") {\n        schedule_type = 'tariff'\n        return\n    }\n});\n\nvar newMsg = { payload: {\"msg\": msg.payload, \"schedule_type\": schedule_type} };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":420,"wires":[["eef572ad84998242"]]},{"id":"eef572ad84998242","type":"switch","z":"f9263a0dce1fe118","name":"Schedule Type","property":"payload.schedule_type","propertyType":"msg","rules":[{"t":"eq","v":"pump","vt":"str"},{"t":"eq","v":"tariff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1180,"y":420,"wires":[["0b7899709656c8e3"],["5212d60a9acc86e3"]]},{"id":"e55a83bdd538698d","type":"comment","z":"f9263a0dce1fe118","name":"tariff","info":"","x":1270,"y":460,"wires":[]},{"id":"61316f3c76eef0ac","type":"comment","z":"f9263a0dce1fe118","name":"pump","info":"","x":1270,"y":380,"wires":[]},{"id":"fe1fa865efe4dde6","type":"comment","z":"f9263a0dce1fe118","name":"Turn off pump schedule","info":"","x":1460,"y":380,"wires":[]},{"id":"5212d60a9acc86e3","type":"api-current-state","z":"f9263a0dce1fe118","name":"Type of Schedule is Tariff","server":"86b445a.684a7b8","version":2,"outputs":2,"halt_if":"Tariff","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.type_of_sched","state_type":"str","blockInputOverrides":false,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1450,"y":560,"wires":[["94c4100d63287768"],[]]},{"id":"94c4100d63287768","type":"function","z":"f9263a0dce1fe118","name":"Calculate tarrifs","func":"var off_peak_time = 0\nvar partial_peak_time = 0\nvar peak_time = 0\nvar actions = {}\nvar tariffs = {}\nvar min = 10000\nvar min_pos = 0\nvar max = 0\nvar max_pos = 0\n\nmsg.payload.msg.attributes.actions.forEach(function (value,index) {\n    key = \"key\" + index\n    actions[key] = value.service_data.value;\n    if (value.service_data.value < min) {\n        min = value.service_data.value\n        min_pos = index\n    }\n    if (value.service_data.value > max) {\n        max = value.service_data.value\n        max_pos = index\n    }\n});\n\nkey_off_peak = \"key\" + min_pos\ntariffs['off_peak'] = actions[key_off_peak]\ndelete actions[key_off_peak]\n\nkey_peak = \"key\" + max_pos\ntariffs['peak'] = actions[key_peak]\ndelete actions[key_peak]\n\nfor (var i in actions) {\n    // should be only one left\n    // node.warn('key : ' + i + ' val : ' + actions[i]);\n    tariffs['partial_peak'] = actions[i]\n}\n\n// assumes only one schedule. That might not be a good assumption\nmsg.payload.msg.attributes.timeslots.forEach(function (value,index) {\n    \n    if (value.stop == \"00:00:00\") {\n        value.stop = \"24:00:00\"\n    }\n    var stop = value.stop.split(':'); // split it at the colons\n    var stop_seconds = (+stop[0]) * 60 * 60 + (+stop[1]) * 60 + (+stop[2]); \n\n    var start = value.start.split(':'); // split it at the colons\n    var start_seconds = (+start[0]) * 60 * 60 + (+start[1]) * 60 + (+start[2]);\n    if (value.actions[0].service_data.value == tariffs['off_peak']) {\n        off_peak_time = off_peak_time + stop_seconds - start_seconds\n    } else {\n        if (value.actions[0].service_data.value == tariffs['partial_peak']) {\n            partial_peak_time = partial_peak_time + stop_seconds - start_seconds\n        } else {\n            if (value.actions[0].service_data.value == tariffs['peak']) {\n                peak_time = peak_time + stop_seconds - start_seconds\n            }            \n        }\n    }\n});\n\noff_peak_time = (off_peak_time / 3600).toFixed(1)\npartial_peak_time = (partial_peak_time / 3600).toFixed(1)\npeak_time = (peak_time / 3600).toFixed(1)\n\nvar newMsg = { payload:\n    {\"off_peak_time\": off_peak_time,\n     \"partial_peak_time\": partial_peak_time,\n     \"peak_time\": peak_time\n    }\n};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":560,"wires":[["79680401f1e86727"]]},{"id":"43e3edb63f5c91d0","type":"api-call-service","z":"f9263a0dce1fe118","name":"Turn pump off","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.pump","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":280,"wires":[["e64d901bc0c9a23e"]]},{"id":"79680401f1e86727","type":"api-call-service","z":"f9263a0dce1fe118","name":"Set off peak time","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.off_peak_time","data":"{ \"value\": msg.payload.off_peak_time}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1990,"y":560,"wires":[[]]},{"id":"f0673221e78efb1e","type":"server-state-changed","z":"f9263a0dce1fe118","name":"Any schedule changed","server":"86b445a.684a7b8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.schedule.*","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":200,"wires":[["010e249a06024b4e"]]},{"id":"010e249a06024b4e","type":"api-current-state","z":"f9263a0dce1fe118","name":"Type of schedule","server":"86b445a.684a7b8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.type_of_sched","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":200,"wires":[["e64d901bc0c9a23e"]]},{"id":"a5b7e436336119f5","type":"server-state-changed","z":"f9263a0dce1fe118","name":"2 mins from start","server":"86b445a.684a7b8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.runtime_mins","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"2","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":100,"wires":[["010e249a06024b4e"],[]]},{"id":"d6a8c8a375361265","type":"comment","z":"f9263a0dce1fe118","name":"At HA start","info":"","x":120,"y":60,"wires":[]},{"id":"cf94626274840505","type":"inject","z":"1c9f36201cd59588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"date","x":190,"y":500,"wires":[["3655e0996cacb925"]]},{"id":"17583aff29fbfb50","type":"ha-get-entities","z":"1c9f36201cd59588","name":"Get Schedules","server":"86b445a.684a7b8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"switch.schedule*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":140,"y":40,"wires":[["7d5c6cb929baac4b"]]},{"id":"d9d206ca005d0166","type":"function","z":"1c9f36201cd59588","name":"Total run time per day","func":"var on_time = 0\nvar off_time = 0\n// assumes only one schedule. That might not be a good assumption\nmsg.payload.msg.attributes.timeslots.forEach(function (value,index) {\n    if (value.stop == \"00:00:00\") {\n        value.stop = \"24:00:00\"\n    }\n    var stop = value.stop.split(':'); // split it at the colons\n    var stop_seconds = (+stop[0]) * 60 * 60 + (+stop[1]) * 60 + (+stop[2]); \n\n    var start = value.start.split(':'); // split it at the colons\n    var start_seconds = (+start[0]) * 60 * 60 + (+start[1]) * 60 + (+start[2]);\n    if (value.actions[0].service == \"switch.turn_on\") {\n        on_time = on_time + stop_seconds - start_seconds\n    } else {\n        off_time = off_time + stop_seconds - start_seconds\n    }\n});\n\non_time = (on_time / 3600).toFixed(1)\noff_time = (off_time / 3600).toFixed(1)\n\nvar newMsg = { payload: {\"on_time\": on_time, \"off_time\": off_time} };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":220,"wires":[["21fd5007e9a8db27","2b7df4627360a1cc"]]},{"id":"21fd5007e9a8db27","type":"api-current-state","z":"1c9f36201cd59588","name":"Check enough time","server":"86b445a.684a7b8","version":2,"outputs":2,"halt_if":"payload.on_time","halt_if_type":"msg","halt_if_compare":"lte","entity_id":"sensor.time_to_run_daily","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{ \"value\": true }","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1470,"y":300,"wires":[["0136008db48cd32c"],["30070cab5cf78b98"]]},{"id":"30070cab5cf78b98","type":"api-call-service","z":"1c9f36201cd59588","name":"Not enough time","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.enough_pump_runtime","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1750,"y":340,"wires":[[]]},{"id":"0136008db48cd32c","type":"api-call-service","z":"1c9f36201cd59588","name":"Enough time","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.enough_pump_runtime","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1730,"y":260,"wires":[[]]},{"id":"64c0838802e6a921","type":"api-call-service","z":"1c9f36201cd59588","name":"Set daily runtime","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.daily_runtime","data":"{ \"value\": msg.payload.on_time }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1750,"y":180,"wires":[[]]},{"id":"2b7df4627360a1cc","type":"api-current-state","z":"1c9f36201cd59588","name":"","server":"86b445a.684a7b8","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.boost_24h","state_type":"str","blockInputOverrides":false,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1420,"y":180,"wires":[[],["64c0838802e6a921"]]},{"id":"3655e0996cacb925","type":"api-current-state","z":"1c9f36201cd59588","name":"Is Schedule fixed?","server":"86b445a.684a7b8","version":2,"outputs":2,"halt_if":"Schedule","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.type_of_sched","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":380,"wires":[["17583aff29fbfb50"],["1360bbb6953c7830"]]},{"id":"1360bbb6953c7830","type":"api-current-state","z":"1c9f36201cd59588","name":"Is Schedule automatic?","server":"86b445a.684a7b8","version":2,"outputs":2,"halt_if":"Automatic","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.type_of_sched","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":380,"wires":[["f4aa4c0f061e2742"],["e41075bddddd8042"]]},{"id":"f4aa4c0f061e2742","type":"api-current-state","z":"1c9f36201cd59588","name":"Get time to run daily","server":"86b445a.684a7b8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.time_to_run_daily","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"payload","propertyType":"msg","value":"{}","valueType":"jsonata"},{"property":"payload.on_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":380,"wires":[["2b7df4627360a1cc","21fd5007e9a8db27"]]},{"id":"f35cce5f706e7139","type":"switch","z":"1c9f36201cd59588","name":"Check schedule is on","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":40,"wires":[["cdcf5d7f707a0aef"],[]]},{"id":"7d5c6cb929baac4b","type":"split","z":"1c9f36201cd59588","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":40,"wires":[["f35cce5f706e7139"]]},{"id":"3ea13631b950f114","type":"api-current-state","z":"1c9f36201cd59588","name":"Get tariff run times","server":"86b445a.684a7b8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.off_peak_time","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"payload.off_peak_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":560,"wires":[["1d934c829ed8a27b"]]},{"id":"cdcf5d7f707a0aef","type":"function","z":"1c9f36201cd59588","name":"Get schedule type","func":"var schedule_type = ''\n// assumes only one schedule. That might not be a good assumption\nmsg.payload.attributes.timeslots.forEach(function (value,index) {\n    if ((value.actions[0].service == \"switch.turn_on\") || (value.actions[0].service == \"switch.turn_off\")) {\n        schedule_type = 'pump'\n        return\n    }\n    if (value.actions[0].service == \"input_number.set_value\") {\n        schedule_type = 'tariff'\n        return\n    }\n});\n\nvar newMsg = { payload: {\"msg\": msg.payload, \"schedule_type\": schedule_type} };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":40,"wires":[["f6509b820bccad49"]]},{"id":"f6509b820bccad49","type":"switch","z":"1c9f36201cd59588","name":"Schedule Type","property":"payload.schedule_type","propertyType":"msg","rules":[{"t":"eq","v":"pump","vt":"str"},{"t":"eq","v":"tariff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":40,"wires":[["d9d206ca005d0166"],[]]},{"id":"e41075bddddd8042","type":"api-current-state","z":"1c9f36201cd59588","name":"Get required time to run daily","server":"86b445a.684a7b8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.time_to_run_daily","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"payload","propertyType":"msg","value":"{}","valueType":"jsonata"},{"property":"payload.on_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":560,"wires":[["3ea13631b950f114"]]},{"id":"9adbf0131f256115","type":"comment","z":"1c9f36201cd59588","name":"Min between TTR & off peak tariff","info":"","x":1030,"y":620,"wires":[]},{"id":"1d934c829ed8a27b","type":"function","z":"1c9f36201cd59588","name":"Min","func":"var on_time = 0\nif (msg.payload.on_time <= msg.payload.off_peak_time) {\n    on_time = msg.payload.on_time\n} else {\n    on_time = msg.payload.off_peak_time\n}\n\nvar newMsg = { payload: {\"on_time\": on_time} };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":560,"wires":[["2b7df4627360a1cc","21fd5007e9a8db27"]]},{"id":"7fb15125455548ca","type":"server-state-changed","z":"1c9f36201cd59588","name":"Any schedule changed","server":"86b445a.684a7b8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.schedule.*","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":720,"wires":[["7997fc8f9da0e375"]]},{"id":"7997fc8f9da0e375","type":"api-current-state","z":"1c9f36201cd59588","name":"Schedule of type Tariff","server":"86b445a.684a7b8","version":2,"outputs":2,"halt_if":"Tariff","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.type_of_sched","state_type":"str","blockInputOverrides":false,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":720,"wires":[["cc412090e309e059"],[]]},{"id":"cc412090e309e059","type":"switch","z":"1c9f36201cd59588","name":"Check schedule is on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":720,"wires":[["df26881c3bb66788"],[]]},{"id":"d6647602a2a7044a","type":"function","z":"1c9f36201cd59588","name":"Calculate tarrifs","func":"var off_peak_time = 0\nvar partial_peak_time = 0\nvar peak_time = 0\nvar actions = {}\nvar tariffs = {}\nvar min = 10000\nvar min_pos = 0\nvar max = 0\nvar max_pos = 0\n\nmsg.payload.msg.attributes.actions.forEach(function (value,index) {\n    key = \"key\" + index\n    actions[key] = value.service_data.value;\n    if (value.service_data.value < min) {\n        min = value.service_data.value\n        min_pos = index\n    }\n    if (value.service_data.value > max) {\n        max = value.service_data.value\n        max_pos = index\n    }\n});\n\nkey_off_peak = \"key\" + min_pos\ntariffs['off_peak'] = actions[key_off_peak]\ndelete actions[key_off_peak]\n\nkey_peak = \"key\" + max_pos\ntariffs['peak'] = actions[key_peak]\ndelete actions[key_peak]\n\nfor (var i in actions) {\n    // should be only one left\n    // node.warn('key : ' + i + ' val : ' + actions[i]);\n    tariffs['partial_peak'] = actions[i]\n}\n\n// assumes only one schedule. That might not be a good assumption\nmsg.payload.msg.attributes.timeslots.forEach(function (value,index) {\n    \n    if (value.stop == \"00:00:00\") {\n        value.stop = \"24:00:00\"\n    }\n    var stop = value.stop.split(':'); // split it at the colons\n    var stop_seconds = (+stop[0]) * 60 * 60 + (+stop[1]) * 60 + (+stop[2]); \n\n    var start = value.start.split(':'); // split it at the colons\n    var start_seconds = (+start[0]) * 60 * 60 + (+start[1]) * 60 + (+start[2]);\n    if (value.actions[0].service_data.value == tariffs['off_peak']) {\n        off_peak_time = off_peak_time + stop_seconds - start_seconds\n    } else {\n        if (value.actions[0].service_data.value == tariffs['partial_peak']) {\n            partial_peak_time = partial_peak_time + stop_seconds - start_seconds\n        } else {\n            if (value.actions[0].service_data.value == tariffs['peak']) {\n                peak_time = peak_time + stop_seconds - start_seconds\n            }            \n        }\n    }\n});\n\noff_peak_time = (off_peak_time / 3600).toFixed(1)\npartial_peak_time = (partial_peak_time / 3600).toFixed(1)\npeak_time = (peak_time / 3600).toFixed(1)\n\nvar newMsg = { payload:\n    { msg: msg.payload.msg,\n     \"off_peak_time\": off_peak_time,\n     \"partial_peak_time\": partial_peak_time,\n     \"peak_time\": peak_time,\n     \"off_peak_value\": tariffs['off_peak']\n    }\n};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":720,"wires":[["a5dda842d9646b89"]]},{"id":"df26881c3bb66788","type":"function","z":"1c9f36201cd59588","name":"Prepare scheduler entity","func":"var newMsg = { payload: {msg: msg.data.new_state} }\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":720,"wires":[["d6647602a2a7044a"]]},{"id":"a5dda842d9646b89","type":"function","z":"1c9f36201cd59588","name":"Start pump?","func":"var start_pump = false\nvar current_timeslot = msg.payload.msg.attributes.current_slot\n\nif (msg.payload.msg.attributes.timeslots[current_timeslot].actions[0].service_data.value == msg.payload.off_peak_value) {\n    start_pump = true\n}\n\nvar newMsg = { payload: start_pump }\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":720,"wires":[["51851e6770f3e633"]]},{"id":"f8411ec0e9582e1c","type":"api-call-service","z":"1c9f36201cd59588","name":"","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.pump","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1810,"y":720,"wires":[[]]},{"id":"51851e6770f3e633","type":"switch","z":"1c9f36201cd59588","name":"check","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":720,"wires":[["f8411ec0e9582e1c"],[]]},{"id":"ec711ec8fe1440ea","type":"inject","z":"4e3336ea709808e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"date","x":150,"y":360,"wires":[["ce0dfaaea87d139d","a56e71aa760c9843"]]},{"id":"a56e71aa760c9843","type":"api-current-state","z":"4e3336ea709808e2","name":"","server":"86b445a.684a7b8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ph_stat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":300,"wires":[["20c54fb833f8838b"]]},{"id":"20c54fb833f8838b","type":"function","z":"4e3336ea709808e2","name":"Get latest valid value","func":"old_value = (context.get('last_ph')) ? context.get('last_ph') : 0\nold_value_int = parseFloat(old_value)\nret_value = ( msg.payload === \"unknown\" ) ? old_value_int : msg.payload\ncontext.set('last_ph', msg.payload)\n//node.warn(ret_value)\nnewMsg = {}\nnewMsg.payload  = { value: ret_value }\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":300,"wires":[["cdaddd511c6ba0db"]]},{"id":"cdaddd511c6ba0db","type":"api-call-service","z":"4e3336ea709808e2","name":"Set ph value","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.ph","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":300,"wires":[[]]},{"id":"ce0dfaaea87d139d","type":"api-current-state","z":"4e3336ea709808e2","name":"","server":"86b445a.684a7b8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.orp_stat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":440,"wires":[["fa0a7eeca9933a2b"]]},{"id":"fa0a7eeca9933a2b","type":"function","z":"4e3336ea709808e2","name":"Get latest valid value","func":"old_value = (context.get('last_ph')) ? context.get('last_ph') : 0\nold_value_int = parseFloat(old_value)\nret_value = ( msg.payload === \"unknown\" ) ? old_value_int : msg.payload\ncontext.set('last_ph', msg.payload)\nnode.warn(ret_value)\nnewMsg = {}\nnewMsg.payload  = { value: ret_value }\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":440,"wires":[["633586a4f6854fa1"]]},{"id":"633586a4f6854fa1","type":"api-call-service","z":"4e3336ea709808e2","name":"Set ORP value","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.orp","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":440,"wires":[[]]},{"id":"5f0ff8e910ea250e","type":"server-state-changed","z":"4e3336ea709808e2","name":"Muriatic tank changed","server":"86b445a.684a7b8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.muriatic_tank","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":620,"wires":[["0048e5b6b0dcaa65"],[]]},{"id":"0048e5b6b0dcaa65","type":"api-call-service","z":"4e3336ea709808e2","name":"","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.lock_muriatic","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":620,"wires":[[]]},{"id":"f5c2c9ceffa17e56","type":"api-call-service","z":"4e3336ea709808e2","name":"","server":"86b445a.684a7b8","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.lock_bleach","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":720,"wires":[[]]},{"id":"78508d727db0d3dc","type":"server-state-changed","z":"4e3336ea709808e2","name":"Chlorine tank changed","server":"86b445a.684a7b8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.bleach_tank","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":720,"wires":[["f5c2c9ceffa17e56"],[]]},{"id":"893efd278a88ea37","type":"comment","z":"4e3336ea709808e2","name":"Re-enable acid pump on tank refill","info":"","x":200,"y":580,"wires":[]},{"id":"1b10bfb26bc511a9","type":"comment","z":"4e3336ea709808e2","name":"Re-enable chlorine pump on tank refill","info":"","x":210,"y":680,"wires":[]},{"id":"eb9590954ac8f2dd","type":"comment","z":"4e3336ea709808e2","name":"Update pH, ORP values","info":"","x":120,"y":300,"wires":[]}]